.about{
    background: rgba(249, 224, 208, 0.6);
    text-align:center;
    padding:80px 60px;
}

.about h2{
    font-family: "Parisienne", cursive;
    margin-bottom:20px;
    font-size:46px;
    color: #4d3829;
}

.about p{
    max-width:800px;
    margin:auto;
    line-height:1.8;
    color: #58493d;
}